# configurations on handling line endings across platforms
* text=auto

data/benchmark.csv text eol=lf
data/benchmark_CRLF.csv text eol=crlf
data/illformed.csv text eol=lf
data/illformed_CRLF.csv text eol=crlf
data/test.csv text eol=lf
data/test_CRLF.csv text eol=crlf